<div class="card">
  <h1 style="color:white; text-align: center;" >Git-Search Website</h1>
  <hr class="my-4" style="background-color: chartreuse;">
  <p class="lead text-center" style="color: beige; font-size: 50px;"><b>Git-Search</b>, is an angular app that allows users to search for <b>repositories</b> and <b>usernames</b> from github. It was created on 20<sup>th</sup> June to help users perfom this action. It is still under development and there are yet more features to come with time.<br><br><br><br></p>
</div>
