<nav id="nav" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="user-profile"><strong>Git-Search</strong> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mt-3 mt-lg-0" >
      <li class="nav-item ">
        <a class="nav-link" routerLink="user-profile" routerLinkActive='active'>Search User<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="repos-search" routerLinkActive='active'>Search Repository</a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex" >
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive='active' style="font-size: 20px; color: sandybrown;">ABOUT</a>
      </li>
    </ul>
  </div>
</nav>